<div id="edit-title">
  <%= f.text_field :title,  class: "title-form", placeholder: Post.human_attribute_name(:title) %>
</div>

<%# ここでタグやカテゴリの設定 %>
<div id="post-component">
  <div class="side-component">
    <%= f.submit Post.model_name.human, class: "update-post" %>
    <div><%= Post.human_attribute_name :mst_status_id %></div>
    <%= f.select :mst_status_id, MstStatus.all.map{|s| [s.status_name, s.id]}, {}, { class: "post-status" } %>
    <div class="category-frame">
      <ul>
        <% current_user.categorys.each do |category| %>
          <li>
            <%= f.check_box :category_id, {checked: category.id == @post.category_id}, category.id %>
            <%= category.name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%# ここに記事を書く %>
<div id="edit-region" class="edit-region">
  <div class="edit">
    <%= f.text_area :content, size: "30x40", placeholder: t('.edit_placeholder'), class: "edit-textarea" %>
  </div>
</div>
