<section id="custom-devise">

  <h1 class="login-header">Log in</h1>

  <%= form_with(model: resource, as: resource_name, url: session_path(resource_name), class: "login-container") do |f| %>

    <div class="field">
      <%= f.text_field :user_id, autofocus: true, autocomplete: "user_id", placeholder: "USER ID"%>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "PASSWORD" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  <div class="devise-footer">
    <%= render "users/shared/links" %>
  </div>
</section>

