<% # ------ search box ------ # %>
  <%= render 'shared/search', search_content_name: setting_shared_column(val: :title), path: user_path(@user.user_id) %>

<% if @user.posts.count == 0 %>
  <% if current_user.id == @user.id %>
    <h3><%= t('.users_post')%></h3>
    <div><%= t('.emp_users_post_message1')%></div>
    <div><%= link_to t('.emp_users_post_message1'), new_post_path %></div>
  <% else %>
    <div><%= t('.emp_post_message1')%></div>
  <% end %>
<% else %>
  <% # ユーザの情報を表示 %>
  <article id="user-show">
    <% # 記事一覧を表示 %>
    <div id="ajax_posts">
      <%= render 'ajax_posts' %>
    </div>

    <% # コメント一覧を表示 %>
    <section id="comments-index">
      <h1><%= t('.users_comment')%></h3>
      <ul>
        <% @comments.each do |comment| %>
          <li>
            <%= Comment.human_attribute_name :post_id %>
            <h2 class="post-title">
              <%= link_to comment.post.title, post_path(comment.post.id) %>
            </h2>
            <div class="content"><%= comment.content %></div>
          </li>
        <% end %>
      </ul>
    </section>
    <%= paginate @comments, param_name: :comments_page %>
  </article>
<% end %>
