<% if @posts.empty? %>
  <% if current_user.id == @user.id %>
    <h3>最近の投稿</h3>
    <div>最近の投稿はありません</div>
    <div><%= link_to("初めての投稿をしましょう!", "/posts/new") %></div>
  <% else %>
    <div>投稿はありません</div>
  <% end %>
<% else %>
  <div id="myhome">
    <div id="show-region">
      <h3>最近の投稿</h3>
      <ul>
        <% @posts.each do |post| %>
          <li class="post-show">
            <div class="post-time"><p>投稿時間:<%= post.post_time %></p></div>
            <div class="post-title"><%= link_to(post.title, "/posts/#{post.id}") %></div>
            <pre><%= post.content %></pre>
          </li>
        <% end %>
      </ul>
    </div>
    <h3>最近のコメント</h3>
    <div class="comment-show-region">
      <ul class="comment-show-list">
        <% @comments.each do |comment| %>
          <% post = Post.find(comment.post_id) %>
          <% comment_user = User.find(comment.user_id) %>
          <li class="comment-area">
            <div class="post-title">
              <p><b>記事タイトル : </b><%= post.title %></p>
            </div>
            <div class="comment-content"><%= comment.content %></div>
            <p style="text-align: right">by <%= link_to("#{comment_user.user_id}", "/#{comment_user.user_id}") %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
