<script>
  function editComment(comment_id) {
    var comment_area = $('#edit-comment-area' + comment_id);
    comment_area.removeClass('hidden');

    var comment_display = $('#comment-content-' + comment_id);
    comment_display.addClass('hidden');
  }

  function closeComment(comment_id) {
    var comment_area = $('#edit-comment-area' + comment_id);
    comment_area.addClass('hidden');

    var comment_display = $('#comment-content-' + comment_id);
    comment_display.removeClass('hidden');
  }
</script>

<div id="edit-title">
  <h1 class="title"><%= @post.title %></h1>
</div>

<!-- ここに記事を表示 -->
<div id="post-region" class="post-region">
  <div class="post-detail">
    <pre class="post-content"><%= @post.content %></pre>
  </div>
</div>

<!-- ここにコメント記入欄を表示 -->
<%= form_tag("/comment/#{@post.id}/new") do %>
  <div id="comment-region" class="comment-region">
    <textarea id="" name="comment" cols="30" rows="10" placeholder="コメントを記入してください"></textarea>
    <input type="submit" value="投稿">
  </div>
<% end %>

<!-- ここにコメントを表示 -->
<h3>コメント</h3>
<div class="comment-show-region">
  <ul class="comment-show-list">
    <% @comments.each do |comment| %>
      <li>
        <p><%= User.find(comment.user_id).user_id %></p>
        <pre id="<%= "comment-content-#{comment.id}" %>"><%= comment.content %></pre>
        <% if !current_user.nil? && current_user.id == comment.user_id %>
          <div id="<%= "edit-comment-area#{comment.id}" %>" class="hidden">
            <%= form_tag("/comment/#{comment.id}/update") do %>
              <textarea  name="update_comment" cols="30" rows="10"><%= comment.content %></textarea>
              <input type="submit" value="更新">
              <div class="edit-close" onclick="closeComment(<%= "#{comment.id}" %>)">キャンセル</div>
            <% end %>
          </div>
          <div class="edit-comment" onclick="editComment(<%= "#{comment.id}" %>)">編集</div>
          <%= link_to("削除", "/comment/#{comment.id}/destroy", {method: "post"}) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div> 
