<%= form_tag("/posts/#{@post.id}/update") do %>
  <div id="edit-title">
    <input class="title-form" name="title" placeholder="タイトル" value="<%= @post.title %>">
  </div>

  <!-- ここでタグやカテゴリの設定 -->
  <div id="post-component">
    <div class="side-component">
      <input type="submit" value="投稿" class="update-post">
      <div>公開状態</div>
      <select id="post-status" name="post_status">
        <option value="1">公開</option>
        <option value="2">非公開</option>
        <option value="3">下書き</option>
      </select>
      <div class="category-frame">
        <ul>
          <% @categorys.each do |category| %>
            <li>
              <input type="checkbox" name="category" value="<%= category.id %>"><%= category.name %></input>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- ここに記事を書く -->
  <div id="edit-region" class="edit-region">
    <div class="edit">
      <textarea class="edit-textarea" name="content" cols="30" rows="40" placeholder="記事を書く"><%= @post.content %></textarea>
    </div>
  </div>
<% end %>
