<%= form_with(url: "/posts/#{@post.id}/update") do |f| %>
  <div id="edit-title">
    <%= f.text_field :title, value: @post.title, class: "title-form", placeholder: "タイトル" %>
  </div>

  <!-- ここでタグやカテゴリの設定 -->
  <div id="post-component">
    <div class="side-component">
      <%= f.submit "投稿", class: "update-post" %>
      <div>公開状態</div>
      <%= f.select :post_status, MstStatus.all.map{|s| [s.status_name, s.id]}, {}, { class: "post-status" } %>
      <div class="category-frame">
        <ul>
          <% @categorys.each do |category| %>
            <li>
              <%= f.check_box :category, value: category.id %>
              <%= category.name %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- ここに記事を書く -->
  <div id="edit-region" class="edit-region">
    <div class="edit">
      <%= f.text_area :content, size: "30x40", placeholder: "記事を書く", class: "edit-textarea", value: @post.content %>
    </div>
  </div>
<% end %>
