<!-- ここに記事を表示 -->
<div id="show-region" class="show-region">
  <% if @posts.empty? %>
    <div>まだ投稿はありません</div>
    <div>初めての投稿者になりましょう！</div>
    <div><%= link_to("記事を投稿する", "/posts/new") %></div>
  <% else %> 
    <div class="show">
      <ul>
        <% @posts.each do |post| %>
          <% user = User.find(post.user_id) %>
          <li class="post-show">
            <div class="post-title"><%= link_to(post.title, "/posts/#{post.id}") %></div>
            <pre><%= post.content %></pre>
            <p class="user_info"><%= link_to("by #{user.user_id}", "/#{user.user_id}") %></p>
            <p>コメント件数：<%= @comment_count[post.id].nil? ? 0 : @comment_count[post.id] %></p>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
