<div id="post-component">
  <div class="side-component">
    <div class="category-frame">
      <ul>
        <% @categorys.each do |category| %>
          <li>
            <input type="checkbox" name="category" value="<%= category.id %>"><%= category.name %></input>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- ここに記事を表示 -->
<div id="show-region" class="show-region">
  <% if @posts.empty? %>
    <div>まだ投稿はありません</div>
    <div style="color:#fdffdf"><%= link_to("記事を投稿する", "/posts/#{current_user.id}/new") %></div>
  <% else %>
    <div class="show">
      <ul>
        <% @posts.each do |post| %>
          <li class="post-show">
            <pre><%= link_to(post.content, "/posts/#{post.id}/edit") %></pre>
            <%= link_to("編集", "/posts/#{post.id}/edit") %>
            <%= link_to("削除", "/posts/#{post.id}/destroy", {method: "post"}) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
