<%= form_with(model: @post, url: posts_path) do |f| %>
  <div id="edit-title">
    <%= f.text_field :title, class:'title-form', placeholder: 'タイトル' %>
  </div>

  <%# ここでタグやカテゴリの設定 %>
  <div id="post-component">
    <div class="side-component">
      <%= f.submit "投稿", class: "update-post" %>
      <div>公開状態</div>
      <%= f.select :mst_status_id, MstStatus.all.map{|s| [s.status_name, s.id]}, {}, { class: "post-status" } %>
      <div class="category-frame">
        <ul>
          <% current_user.categorys.each do |category| %>
            <li>
              <%= f.check_box :category_id %>
              <%= category.name %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <%# ここに記事を書く %>
  <div id="edit-region" class="edit-region">
    <div class="edit">
      <%= f.text_area :content, size: "30x40", placeholder: "記事を書く", class: "edit-textarea" %>
    </div>
  </div>
<% end %>
