<script>
  // コメント編集ボタンを押した時のボタンアクション
  function editComment(comment_id) {
    var comment_area = $('#edit-comment-area' + comment_id);
    comment_area.removeClass('hidden');

    var comment_display = $('#comment-content' + comment_id);
    comment_display.addClass('hidden');
  }

  // コメント編集キャンセルボタンを押した時のボタンアクション
  function closeComment(comment_id) {
    var comment_area = $('#edit-comment-area' + comment_id);
    comment_area.addClass('hidden');

    var comment_display = $('#comment-content' + comment_id);
    comment_display.removeClass('hidden');
  }
</script>

<article id="detail-posts-region">
  <div id="post-title">
    <h1 class="title"><%= @post.title %></h1>
  </div>

  <!-- ここに記事を表示 -->
  <div id="post-region" class="post-region">
    <div class="post-detail">
      <pre class="post-content"><%= @post.content %></pre>
    </div>
  </div>
</article>

<!-- ここにコメントを表示 -->
<h3>コメント</h3>
<div class="comment-show-region">
  <ul class="comment-show-list">
    <% @post.comments.each do |comment| %>
      <li>
        <p><%= link_to(comment.user.user_id, user_path(comment.user.user_id)) %></p>
        <div id="<%= get_id_comment_content(comment.id) %>">
          <pre class="edit-comment-area"><%= comment.content %></pre>
          <div class="comment-edit-form">
            <% if user_signed_in? %>
              <% if current_user.id == comment.user_id %>
                <div class="edit-comment" onclick="editComment(<%= "#{comment.id}" %>)">編集</div>
              <% end %>
              <% if (current_user.id == @post.user_id || current_user.id == comment.user_id)%>
                <%= link_to("削除", post_comment_path(@post.id, comment.id), {method: :delete}) %>
              <% end %>
            <% end %>
          </div>
        </div>
        <% if user_signed_in? && current_user.id == comment.user_id %>
          <div id="<%= get_id_edit_comment(comment.id)  %>" class="update-comment-area hidden">
            <%= form_with(model: comment, url: post_comment_path(@post.id, comment.id), method: :patch) do |f| %>
              <%= f.text_area :content, size: "30x10" %>
              <div class="comment-update-form">
                <%= f.submit "更新" %>
                <div class="edit-close" onclick="closeComment(<%= "#{comment.id}" %>)">キャンセル</div>
              </div>
            <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div> 
<!-- ここにコメント記入欄を表示 -->
<%= form_with(model: @comment, url: post_comments_path(@post.id), local: true) do |f| %>
  <div id="comment-region" class="comment-region">
    <%= f.text_area :content, id: "new-comment-area",  size: "30x10", placeholder: "コメントを記入してください" %>
    <%= f.submit "投稿" %>
  </div>
<% end %>
