<!DOCTYPE html>
<html>
  <head>
    <title>BlogSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="head-contents">
      <div class="navbar">
        <ul class="nav">
          <% if user_signed_in? %>
            <li><%= link_to('ホームへ', user_path(current_user.user_id)) %></li>
            <li><%= link_to('投稿一覧', posts_path) %></li>
            <li><%= link_to('ログアウト', destroy_user_session_path, method: 'delete') %></li>
          <% else %>
            <li><%= link_to('投稿一覧', posts_path) %></li>
            <li><%= link_to('ログイン', new_user_session_path) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- success message -->
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="main-content">
      <!--- 投稿一覧やホームに戻るための左サイドバー -->
      <% if user_signed_in? %>
        <div id="left-menu-all">
          <div class="side-menu">
            <ul>
              <li><%= link_to('自分の記事', user_posts_path(current_user.user_id)) %></li>
              <li><%= link_to('新規作成',  new_post_path) %></li>
              <li>カテゴリー</li>
              <li>タグ</li>
              <li>お気に入り一覧</li>
            </ul>
          </div>
        </div>
      <% end %>
      <!--- 投稿一覧やホームに戻るためのサイドバー -->
      <div id="original-contents">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
